<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <!-- top -->
      <a class="navbar-brand" href="#">{{ nome }}</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>		
  
      <!-- collapsable -->
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="ex: casa de praia...">
          <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Buscar</button>
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Filtro</button>
        </form>
  
  
  
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Pesquisar por local</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Meu perfil</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Cadastrar imóvel</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Minhas requisições</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Meus alugueis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Minhas propriedades</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="space-10"></div>
  